/* 默认样式 */
.nav-container {

    }

#changeColorBtn{
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    height: 30px;
    margin-top: 0px;
    }